.heading{
    display: flex;
    font-style: italic;
}
.Steps{
    font-size: 25px;
}

.ti{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}

.links{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:20px;
    text-align: center;
}
*{
    border: 2px solid red
}